body{
    background: #CCCCCC
}

#banner {

}

h1 {
    text-align: center
}

P {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size:
}

em strong {
    color: #FF0000;
}
